.listar-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .button-container button {
    background-color: #ff4646;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    text-align: center;
  }
  
  .button-container button:hover {
    background-color: #d93232;
  }
  