/* LoginStyle.css */
body {
    background-color: #1f1f1f; /* Fondo oscuro */
    color: #ffffff;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-box {
    text-align: center;
    background-color: #2a2a2a; /* Fondo del contenedor */
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    width: 300px;
  }
  
  .login-logo {
    width: 100px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .input-field {
    width: calc(100% - 20px); /* Reducir el ancho para incluir el relleno */
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #2a2a2a; /* Fondo del campo de entrada */
    color: #ffffff;
    border-radius: 4px;
    font-size: 14px;
  }
  
  /* Estilos para el captcha */
  .g-recaptcha {
    display: block; /* Hacer que el captcha se muestre como un bloque debajo de los campos de entrada */
    margin-top: 10px; /* Margen superior para separar el captcha de los campos de entrada */
  }
  
  .login-button,
  .create-account-button {
    background-color: #007bff; /* Azul */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-top: 10px; /* Agregar margen superior para separar los botones */
    display: block;
    width: 100%; /* Hacer que el botón ocupe el ancho completo */
    font-size: 14px;
  }
  
  .login-button:hover,
  .create-account-button:hover {
    background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
  }
  