.container-tickets {
  background-color: #303030; /* Color de fondo del contenedor */
  padding: 20px;
  border-radius: 10px;
}

.search-container {
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #ff4646;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.turno-list {
  list-style: none;
  padding: 0;
}

.turno-list li {
  background-color: #1f1f1f;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.details-container {
  background-color: #1f1f1f;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
}

.actions-container button {
  margin-right: 10px;
  background-color: #ff4646;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.actions-container button:last-child {
  margin-right: 0; /* Elimina el margen derecho del último botón para evitar espacio adicional */
}
